.blog.teaser {
    text-decoration: none;
    width: 100%;
    display: block;

    .title {
        font-size: 1.7em;
        margin: 0;
    }

    .published-date {
        color: var(--accent2);
    }
}

.blog.teaser + .blog.teaser {
    margin-top: 2em;
}