
.lists {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;  
    
    h4 {
        margin-top: 0;
    }

    ul {
        margin-top: 1.5em;
    }
}


@media (min-width: 720px) {
    .lists {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .lists {
        grid-template-columns: 1fr 1fr 1fr;
    }
}