.contents {
    max-width: var(--max-width);
    width: 100%;

    img, video {
        border-radius: 5px;
        display: block;
        max-width: 100%;
        margin: 0em auto 4em 0;
    }

    p + img, p + video {
        margin-top: 2em;
    }

    p:empty {
        display: none;
    }
}

@media (min-width: 720px) {
    .contents {
        .title, .description {
            max-width: calc(100% - 460px);
        }
    }
}

.about-me {
    img {
        float: right;
        margin-left: 3em !important;
        margin-top: 0 !important;
    }
}