<a class="blog teaser" href="{{ path }}"> 
    <h3 class="title">{{ title }}</h3>
    <span class="published-date">Published on {{ date }}</span>
    <span class="description">{{ description }}</span>
</a>
