<div class="introduction">
  <div class="wrapper">
    <div class="inner">
      <span>Hi, I am</span><br>
      <span class="name">Daniël Beeke</span><br>
      <span>a software engineer</span><br>
      <span>solving problems for</span><br>
      <span>people & organizations</span>
    </div>
  </div>
</div>