<a class="project teaser" href="{{ path }}"> 
    <img class="poster full-size-on-click" src="//images.weserv.nl/?url={{ poster }}&w=1200&h=700&fit=cover&a=attention" />
    
    <h3 class="title">{{ title }}</h3>
    <h4 class="description">{{ description }}</h3>
</a>
