@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Quicksand:wght@100;300&display=swap');

body {
  height: 100%;
  background-color: var(--background);
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23e26145' fill-opacity='0.04'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  font-size: 20px;
  line-height: 1.7em;
  background-attachment: fixed;
  color: var(--text);
  font-weight: 100;
  scrollbar-width: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: auto;
  padding-inline: 20px;
  
  &::-webkit-scrollbar {
    display: none;
  }
}

html {
  height: 100%;
  scroll-behavior: auto;
}

:root {
  --sans: 'Quicksand', sans-serif;
  --serif: 'Libre Baskerville', serif;
  --text: rgba(212, 212, 212, 0.8);
  --accent: #e26145;
  --accent2: white;
  --background: #011817;
  --bs-code-color: var(--accent);
  --max-width: 1200px;
}

* {
  box-sizing: border-box;
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(20px) }
  100% { opacity: 1; transform: translateY(0) }
}

@keyframes fadeOut {
  0% { opacity: 1; transform: translateY(0) }
  100% { opacity: 0; transform: translateY(20px) }
}

body.scroll-lock {
  overflow: hidden;
}

body.hash-in {
  *:not(.is-full-size-object) {
    opacity: 0;
  }
}

a {
  color: var(--accent);

  &:hover {
    color: var(--accent);
  }
}

ul {
  padding-left: 1em;
}

h3 {
  color: var(--accent);
  letter-spacing: 1.5px;
  font-size: 1.4em;
  margin-bottom: 1em;
  margin-top: 2em;
  font-weight: 100;
  font-family: var(--sans);
}

h4 {
  color: var(--accent);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1em;
  margin-bottom: 1em;
  margin-top: 2em;
  font-weight: 100;
  font-family: var(--sans);

}

iframe {
  width: 100%;
  border: none;
  aspect-ratio: 16 / 9;
  margin: 0 0 3em;
}

blockquote {
  font-style: italic;
  font-size: 1.5em;
  margin: 0;
  line-height: 1.7;
  border-left: 5px solid var(--accent);
  padding-left: 1em;
}

table {
  width: 100%;
  text-align: left;
  table-layout: fixed;
  background: rgba(white, .1);
  overflow-x: auto;

  td, th:not(:empty) {
    padding: .5em;
  }

  tr:not(:last-child) td,
  th:not(:empty) {
    border-bottom: 1px solid var(--color-gray-light);
  }
}

pre {
  padding: 1em;
  background: rgba(white, .1);
  font-size: .8em !important;
  line-height: 1.6em;
}