{{#extend "html"}}

  {{#content "body"}}
    {{> menu }}

    <article class="full front">  
      {{> introduction }}


      <h2 class="grid-title">Projects</h2>
      <div class="projects grid" id="projects">
        {{#each (limit collections.projects 0 4) }}
          {{> project.teaser }}
        {{/each}}
      </div>

      <div class="projects-more grid" id="projects-more">
        {{#each (limit collections.projects 4 100) }}
          {{> project.teaser }}
        {{/each}}
      </div>

      <div class="show-more-wrapper">
        <button class="show-more">Show more</button>
      </div>


      <h2 class="grid-title">Blogs</h2>
      <div class="blogs" id="blogs">
        {{#each (limit collections.blogs 0 3) }}
          {{> blog.teaser }}
        {{/each}}
      </div>

      <h2 class="grid-title">About me</h2>
      <div class="about-me block" id="about-me">
        {{#page "about"}}
          {{{ markdown }}}
        {{/page}}
      </div>

      {{#page "i-love-open-source"}}
        <h2 class="grid-title">{{ title }}</h2>
        <div class="open-source block" id="open-source">
          {{{ markdown }}}
        </div>
      {{/page}}

      <h2 class="grid-title">Contact</h2>
      <div class="contact block" id="contact">
        {{#page "contact"}}
          {{{ markdown }}}
        {{/page}}
      </div>

    </article>
  {{/content}}
  
{{/extend}}
