{{#extend "html"}}

  {{#content "body"}}
    {{> menu }}

    <article class="page full">
      <h1 class="title">{{ title }}</h1>
      <div class="contents">{{{ markdown }}}</div>
    </article>
  {{/content}}
  
{{/extend}}
